.nav-link {
  position: relative;
  transition: all 0.3s ease;
}

.nav-link:hover {
  opacity: 1 !important;
  transform: translateY(-2px);
}

.nav-link::after {
  content: "";

  position: absolute;

  left: 0;
  bottom: -8px;

  width: 0%;
  height: 2px;

  background: white;

  border-radius: 999px;

  transition: width 0.3s ease;
}

.nav-link:hover::after {
  width: 100%;
}

@media (max-width: 768px) {

  nav div:nth-child(2) {
    display: none !important;
  }

  nav button {
    display: block !important;
  }

}